#container{
    display: block;
    background-color: black;
    padding: 1%;
    text-align: right;
}

.btn-secondary{
    border-radius: 4px;
    padding: .375rem .75rem;
}

.btn{
    padding-top:5px;
    vertical-align:baseline;
}

#profileBtn{
    float: left;
    width: 50px;
    height: 50px;
    background: url("images.png") no-repeat;
    background-size: 48px;
    border-radius: 25px;
}

#signOut{
    border: 0px;
}

#signOut:hover{

}



#getSaved{
    border: 0px;
}
